html {
  position: relative;
}

body>.navbar {
  -webkit-transition: background-color .3s ease-in;
  transition: background-color .3s ease-in
}

.page-header h1 {
  font-size: 3.5em
}

.bs-component {
  position: relative
}

.bs-component .modal {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  z-index: 1;
  display: block
}

.bs-component .modal-dialog {
  width: 90%
}

.bs-component .popover {
  position: relative;
  display: inline-block;
  width: 220px;
  margin: 20px
}

.bs-navbar-product {
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 23px;
  margin-bottom: 23px;
}

#banner {
  margin-top: 50px;
}

#banner h1 {
  font-size: 6em;
}

.bs-company {
  font-weight: 100;
}

.bs-product {
  font-weight: 400;
}

#source-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  font-weight: 700
}

.nav-tabs {
  margin-bottom: 15px
}

.progress {
  margin-bottom: 10px
}

.bs-footer {
  font-size: 13px;
  border-width: 1px 0 0;
  border-color: #DFDFDF;
  border-top-style: solid;
  width: 100%;
  background-color: #EDF2F5;
  margin-top: 3em;
  padding-top: 1.2em;
}

.bs-footer li,
#banner li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em
}
